* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*GERAL*/
select{
    width: 100%;
    height: 40px;
}
.body-cadastro,
.body-index,
.body-termo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(253, 76, 6), rgb(238, 149, 32));
}

.main-index,
.main-cadastro {
    width: 85%;
    height: 600px;
    max-width: 460px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/*PAGINA CADASTRO*/


.input-box input {
    width: 90%;
    height: 40px;
    font-size: 15px;
    border-radius: 2px;
    margin-top: 15px;
    padding-left: 15px;
    border: 1px solid orange;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    outline-color: rgb(231, 150, 0);
}

.input-checkbox {
    margin-top: 20px;
}

.input-checkbox input {
    cursor: pointer;
}

.button-cadastro button {
    width: 60%;
    height: 40px;
    margin-top: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.button-cadastro button:hover {
    background-color: orange;
    color: #fff;
}

/*PAGINA TERMO*/

.container {
    width: 100%;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

.textbox {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .content {
        padding: 10px;
    }

    .container {
        height: 100vh;
    }
}


/*PAGINA LOGIN*/


.logo-FoodReet-login {
    margin-top: 40px;
}

.box-SenhaLogin,
.box-SenhaCadastro,
.box-confirm-SenhaCadastro {
    position: relative;
}

.input-box-login input {
    width: 90%;
    height: 40px;
    font-size: 15px;
    border-radius: 2px;
    margin-top: 15px;
    padding-left: 15px;
    border: 1px solid orange;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    outline-color: rgb(231, 150, 0);
}

.input-box-login a {
    display: flex;
    width: 175px;
    margin-left: 60%;
    margin-top: 10px;
    text-decoration: none;
    white-space: nowrap;
    color: black;
}

.input-box-c {
    display: flex;
    justify-content: end;
}

.input-box-c a {
    display: flex;
    margin-right: 20px;
    margin-top: 10px;
    text-decoration: none;
    white-space: nowrap;
    color: black;
}

.button-login button {
    width: 60%;
    height: 40px;
    margin-top: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.button-login button:hover {
    background-color: orange;
    color: #fff;
}

.social-menu-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.social-menu-login a {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.social-menu-login img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px;
}

.link-cadastro {
    margin-top: 20px;
}

.link-login {
    margin-top: 50px;
}

/*OLHOS PARA MOSTRAR SENHAS*/

#icon,
#icon2,
#icon3 {
    top: 40%;
    left: 85%;
    background: url('img/olhoA.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
}

#icon.hide,
#icon2.hide,
#icon3.hide {
    background: url('img/olhoF.png');
    background-size: cover;
}

/*PAGINA ESQUECEU SENHA, SENHAS DIFERENTES, ACEITAR TERMOS*/

.popup,
.popup2,
.popup3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.logo-FoodReet-popup {
    text-align: center;
    margin-bottom: 20px;
}

.logo-FoodReet-popup img {
    width: 120px;
    height: auto;
}

.input-box-popup p {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.input-box-popup input {
    width: calc(100% - 20px);
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

.input-box-popup input:focus {
    border-color: #ff7f0e;
    outline: none;
}

.input-box-popup button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #ff7f0e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-box-popup button:hover {
    background-color: #e66400;
}

.popup-content {
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*PAGINA HOME*/

.body-home,
.body-Restaurantes {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 730px;
}

.header-home,
.header-blog,
.header-Restaurantes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
}

.lista-menu {
    display: flex;
    align-items: center;
}

.option-select {
    padding: 0 30px;
}

.option-select a {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    text-decoration: none;
}

.option-select a:hover .icon-lista-menu {
    fill: rgb(255, 102, 0);
}

.option-select a:hover {
    color: orange;
}

.header-home .icon-lista-menu,
.header-blog .icon-lista-menu,
.header-Restaurantes .icon-lista-menu {
    width: 40px;
    height: 40px;
}

.main-home,
.main-blog,
.main-Restaurantes {
    display: flex;
    width: 90%;
    flex-direction: column;
}

.img-principal-home {
    overflow: hidden;
    position: relative;
}

.mudar-slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 300%;
   
}


.slide-restaurantes img {
    width: 100%;
    height: auto;
}

.slide-restaurantes button {
    width: 15%;
    height: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    top: 70%;
    left: 70%;
    transform: translateX(-50%);
}

.slide-restaurantes {
    position: relative;
    flex: 0 0 33.333%;
    max-width: 100%;
    overflow: hidden;

}


.mudar-slide {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.mudar-slide button {
    color: white;
}

.prev,
.next {
    background-color: transparent;
    border: none;
    font-size: 60px;
    cursor: pointer;
}

.button-outros button:hover,
.blogs button:hover,
.footer-home button:hover,
.footer-blog button:hover,
.footer-Restaurantes button:hover,
.slide-restaurantes button:hover {
    background-color: rgb(255, 166, 0);
}

.opcao-restaurantes button:hover,
.opcao-restaurantes2 button:hover {
    color: white;
    background-color: rgb(255, 102, 0);
}


.outros-restaurantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.outros-restaurantes button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    cursor: pointer;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.opcao-restaurantes,
.opcao-restaurantes2 {
    display: flex;
    width: 90%;
    justify-content: center;
}

.opcao-restaurantes button,
.opcao-restaurantes2 button,
.restaurente-cardapio button {
    border: none;
    border-radius: 20px;
    background: white;
    padding: 20px;
}

.restaurente-cardapio button {
    width: 100%;
}

.dropdown {
    width: 100%;
}

.opcao-restaurantes img,
.opcao-restaurantes2 img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.dropdown button {
    justify-content: space-between;
    display: flex;
}

.A {
    width: 100%;
}

.button-outros {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-outros button {
    width: 15%;
    height: 40px;
    margin-top: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.melhores-avaliados {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.melhores-avaliados button {
    border: none;
    cursor: pointer;
}

.melhores-restaurantes {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 30px;
}

.img-melhores-restaurantes {
    display: flex;
}

.melhores-restaurantes button {
    display: flex;
    width: 80%;
    padding: 5px;
    background: white;
    border-radius: 10px;
}

.melhores-restaurantes button:hover {
    background-color: rgb(255, 102, 0);
}

.melhores-restaurantes img {
    width: 100%;
    border: 1px solid rgb(207, 205, 205);
    border-radius: 10px;
}

.linha {
    display: flex;
    justify-content: center;
}

.linha-personalizada {
    width: 25%;
    height: 1px;
    background-color: #000;
    margin: 30px 0;
}

.blogs,
.blogs-restaurante {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogs-comentarios,
.comentarios-restaurante {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mudar-comentarios {
    max-width: 1100px;
}

.setas {
    display: flex;
}

.setas button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

.setas .icon-lista-menu:hover {
    fill: white;
}

.aspasCima {
    display: flex;
    align-items: start;
    height: 100%;
}

.aspasBaixo {
    display: flex;
    align-items: end;
    height: 100%;
}

.aspasCima img,
.aspasBaixo img {
    width: 30px;
    height: 30px;
}

.img-comentarios {
    display: flex;
}

.img-comentarios img {
    width: 160px;
    height: 160px;
    background: white;
}

.comentarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.blogs-comentarios button {
    width: 50px;
    height: 50px;
}

.footer-home,
.footer-blog,
.footer-Restaurantes {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #FF6624;
    margin-top: 30px;
}

.options-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
}

.logo-FoodReet-footer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.social-menu-home,
.social-menu-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.social-menu-home img,
.social-menu-blog img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 12px;
}

.links-social-menu-home,
.links-social-menu-blog {
    display: flex;
    margin-top: 5px;
}

.links-social-menu-home .icon-lista-menu,
.links-social-menu-blog .icon-lista-blog {
    fill: white;
}

.links-social-menu-home .icon-lista-menu:hover,
.links-social-menu-blog .icon-lista-blog:hover {
    fill: rgb(255, 102, 0);
    background-color: white;
    border-radius: 20%;
}

.links-social-menu-home a,
.links-social-menu-blog a {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.options-info2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.options-info2 a {
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.options-info2 a:hover {
    color: #FF6624;
    background-color: white;
    border-radius: 5px;
}

.feedback {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-envio {
    display: flex;
    width: 50%;
    flex-direction: column;
    color: white;
}

.feedback-envio input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.feedback-envio button {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(20, 4, 4);
    border-radius: 20px;
    cursor: pointer;
}

/*PAGINA BLOG*/

.body-blog {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 806px;
}

.img-comentarios-blog {
    display: flex;
    align-items: center;
}

.img-comentarios-blog img {
    width: 150px;
    height: 150px;
}

.avaliacoes-comentarios-perfil {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding: 20px;
}

.avaliacoes-comentarios-perfil img {
    width: 50px;
}

.avaliacoes-perfil,
.comentarios-perfil {
    display: flex;
    width: 25%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 10px;
}

.comentarios-usuario img {
    width: 100px;
    height: 100px;
}

.img-comentarios-blog {
    margin-top: 20px;
}

.footer-blog {
    margin-top: 150px;
}

/*PAGINA RESTAURANTE AVALICAO*/

.main-Restaurantes h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.info-restaurante {
    margin-top: 50px;
}

.info-restaurante h3 {
    display: flex;
    justify-content: left;
    margin-top: 15px;
}






.info {
    display: flex;
    flex-direction: column;
}


.restaurente-cardapio button:hover {
    color: white;
    background-color: rgb(251, 118, 29);
}

.img-restaurante img {
    width: 100%;
}

@media only screen and (max-width: 840px) {

    .opcao-restaurantes,
    .opcao-restaurantes2 {
        display: flex;
        flex-direction: column;
    }

    .coluna {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img-comentarios img {
        width: 130px;
        height: 130px;
    }

    .header-home,
    .header-Restaurantes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

}
.comment-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: auto;
    max-height: 400px;
}
.comment-container2 {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

}
.usuario{
    font-weight: 600;
}
.comment-author {
    font-weight: bold;
}
/*AREA DOS COMENTARIOS DO RESTAURANTE*/
.comentarios-restaurante {
    margin-top: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.comentarios-restaurante h3 {
    font-size: 24px;
    color: #212121;
    margin-bottom: 20px;
    text-align: center;
}

.comment-form {
    margin-bottom: 20px;
}

#comment-text {
    width: 100%;
    min-height: 56px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #dadce0;
    border-radius: 8px;
    resize: none;
}

.button-comentar {
    display: flex;
    justify-content: center;
}

.button-comentar button {
    width: 100%;
    max-width: 200px;
    height: 36px;
    padding: 0 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-comentar button:hover {
    background-color: orange;
    color: #fff;
}

#comments {
    margin-bottom: 20px;
}

.comment {
    word-break: break-all;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid orange;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.comment p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para o botão do dropdown */
.dropdown-toggle {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 10px;
    cursor: pointer;
}

/* Estilos para o menu suspenso */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 10px;
    list-style: none;
    max-height: 110px;
    overflow-y: scroll;
}

/* Estilos para os itens do menu suspenso */
.dropdown-item {
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    display: block;
}

/* Estilos para o campo de pesquisa */
.search-container {
    margin-bottom: 10px;
}

.main-blog {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.mapBox {
    position: relative;
    width: 600px;
    height: 500px;
    background: #fff;
}

.mapBox iframe {
    width: 100%;
    height: 100%;
}

/*MODAL BUTTON*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    width: 90%; /* Largura do modal, vulgo adicionei */
    max-width: 600px; /* Largura máxima do modal, vulgo adicionei */
}

.modal-content {
    width: 100%; /* tava 80 */
}

.modal-body {
    width: 100%;
}

.modal-body input, .list-group-item{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 15px;
    text-decoration: none;
    list-style-type: none;
}

.list-group-item:hover {
    background-color: #ececec;
}

.modal-footer {
    display: flex;
    justify-content: end;
}

.modal-button {
    display: flex;
    width: 100%;
}

.modal-footer button {
    width: 15%;
    height: 10%;
    min-width: 70px;
    margin-top: 5px;
    background-color: rgb(255, 102, 0);
    border: 1px solid rgb(255, 102, 0);
    border-radius: 8px;  /* adicionei */
    color: white;
}


.modal-header img {
    width: 120px;
    height: auto;    
}

.modal-header {
    display: flex;
    align-items: center;
    width: 100%; 
    background-color: rgb(255, 147, 75);
    color: white; 
    border-radius: 5px;
    padding: 10px; 
}

.modal-footer {
    display: flex;
    justify-content: end;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.modal-header h4 {
 margin-top: 20px
}

.modal-header img{
    width: 60px;
    height: auto;
}

.modal-body li {
    border: none;

    
}


.restaurante-avaliacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.avaliacao-btn {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.avaliacao-btn:hover {
    background-color: #e0e0e0;
}

.avaliacao-btn.active {
    background-color: #ffc107;
    transform: scale(1.1);
}


.restaurente-cardapio button img{
    width: 200px;
    border-radius: 20px;
}

.restaurente-cardapio {
    display: flex; /* Para alinhar os botões em uma linha */
    flex-wrap: wrap; /* Permitir que os botões quebrem para a próxima linha em telas menores */
    justify-content: center; /* Alinhar os botões ao centro da linha */
    margin-top: 5%;
    justify-content: space-between;
}

.restaurente-cardapio button {
    border: none;
    border-radius: 20px;
    background: white;
    padding: 10px; /* Reduzir o padding para diminuir o tamanho do botão */
    margin-right: 10px; /* Adicionar um espaço entre os botões */
    flex: 1; /* Fazer os botões ocuparem o mesmo espaço na linha */
    max-width: 280px; /* Definir a largura máxima dos botões */
    height: 100%;
    text-align: center; /* Alinhar o texto à esquerda dentro do botão */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;    
    
}

@media only screen and (max-width: 840px) {
    .restaurente-cardapio button {
        margin-right: 0; /* Remover a margem entre os botões quando eles quebram para a próxima linha */
        margin-bottom: 10px; /* Adicionar um espaçamento entre os botões quando eles quebram para a próxima linha */
    }
}

.info-restaurante-pratos{
    margin-top: 50px;
}

.info-restaurante-pratos h3{
    display: flex;
    align-items: center;
    gap: 10px;
}

.restaurante-avaliacao .star {
    display: flex;
    justify-content: center;   
    font-size: 25px;
    color: rgb(251, 235, 10);
    cursor: pointer;
}

.img-restaurantes img{
    height: 619px;
    width: 100%;
}



